.lives {
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  height: 32px;

  .lives__counter {
    line-height: 32px;
  }

  &::before {
    content: '';
    position: absolute;
    width: 32px;
    height: 32px;
    background: url("../../../public/img/heart.png") no-repeat;
    left: -40px;
  }
}
