@import "public/style/css-variables/_common";

.overlay__save {
  background-color: $primary-button-background-color;
  color: $primary-button-color;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: lighten($primary-button-background-color, 2%);
  }
  &:active {
    background-color: darken($primary-button-background-color, 2%);
  }
}
